body {
    width: 1000px;
    margin: auto;
}
header {
    background-color: violet;
    height: 100px;
    margin: 20px;
}
#primasezione {
    background-color: bisque;
    height: 300px;
    margin: 20px;
}
#secondasezione {
    background-color: blue;
    height: 400px;
    margin: 20px;
}
footer {
    background-color: rgb(131, 18, 236);
    height: 50px;
    margin: 20px;
}
